* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #ddd;
    scroll-behavior: smooth;
}

/* NAVIGATION BAR */
nav {
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.5);
    height: 70px;
    width: 100%;
    backdrop-filter: blur(10px);
    z-index: 1000;
}


.logo {
    color: #808080;
    font-size: 35px;
    line-height: 70px;
    padding: 0 100px;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 70px;
    margin: 0 14px;
}

nav ul li a {
    color: #808080;
    font-size: 17px;
    text-decoration: none;
}

nav ul li a:hover {
    color: #808080;
    transition: all .5s;
}

.cheakbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 70px;
    margin-right: 15px; 
    cursor: pointer;
    display: none;
}

#cheak {
    display: none;
}

@media (max-width: 952px) {
    .logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .cheakbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(44, 62, 80, 0.7); /* Transparent black background */
        top: 70px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover {
        background: none;
        color: #ffcd28;
    }

    #cheak:checked~ul {
        left: 0;
    }
}

/* RESPONSIVE PHOTOS */
.container{
    margin-bottom: 10px;
    width: 100%;
    height: 100vh;
    background: linear-gradient(30deg, rgb(211, 230, 63), rgb(57, 57, 248));
    display: flex;
    align-items: center;
}

.text {
    margin: 50px;
    padding: 10px;
    height: 100%;
    width: 35%;
    align-items: center;
}

.text h3{
    padding-top: 60%;
}
.text p {
   margin-top: 20px;
   text-align: justify;
}


.card{
    display: flex;
    align-items: center;
    justify-content: center;
}

.image{
    width: 100px;
    height: 500px;
    margin: 10px;
    border-radius: 50px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    overflow: hidden;
    transition: 0.5s;

}

.image:hover{
    width: 300px;
    cursor: pointer;

}

.image:nth-child(1) {
    background-image: url("../img/profiles/prof1.jpg");
}
.image:nth-child(2) {
    background-image: url("../img/profiles/pic1.jpg");
}
.image:nth-child(3) {
    background-image: url("../img/profiles/pic2.jpg");
}
.image:nth-child(4) {
    background-image: url("../img/profiles/pic3.jpg");
}
.image:nth-child(5) {
    background-image: url("../img/profiles/pic4.jpg");
}


 /* .image::before  */
.image:hover::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background: linear-gradient(0deg, black 50%, transparent 50%); */
    background: linear-gradient(0deg, black 0%, black 10%, transparent );
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    
    
}

.image .about{
    color: aliceblue;
    position: absolute;
    align-items: end;
    width: 300px;
    height: 38%;
    padding: 0 35px;
    transform: translateX(100%);
    opacity: 0;
    transition: 0.5s;
    
}

.image:hover .about{
    transform: translateX(0);
    /* transition-delay: 0.1s; */
    opacity: 1;
}


.about .name{
    text-align: center;
    font-size: 30px;
    line-height: 25px;
    color:#fff;
    margin: 10px 0;
    
}


/* GALLERY */
.gallery {
    padding: 20px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}

.title{
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 35px;
    line-height: 70px;
    padding: 0 100px;
    font-weight: bold;
    cursor: pointer;
    background: linear-gradient(30deg, rgb(211, 230, 63), rgb(57, 57, 248));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title h1{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    padding: 15px;
    color: #333;
    text-align: center;
    text-transform: capitalize;
}

.gallery > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}
.gallery .tall {
    grid-row: span 2;
}

/* CONTACT */
.contact{
    background: linear-gradient(30deg, rgb(211, 230, 63), rgb(57, 57, 248));
    height: 80vh;
}

.contact .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px auto;
}

.contact h1{
    padding: 20px;
    text-align: center;
}

.contact .row .content {
    flex: 1 1 30rem;
    padding: 0 2rem; 
}

.contact .row form {
    flex: 1 1 30rem;
    padding: 0 2rem;
}

.contact .row form .box {
    padding: 1rem;
    margin: 1rem 0;
    background: transparent;
    outline: none;
    border-radius: 30px;
    border: 3px solid #222;
    color: #222;
    text-transform: none;
    font-size: 1.2rem;
    width: 100%; 
}

.contact .row form .box::placeholder {
    text-transform: capitalize;
}

.contact .row form .message {
    height: 10rem;
    resize: none;
    width: 100%; 
}

.contact .row .content .title {
    justify-content: center;
    text-transform: uppercase;
    color: #222;
    font-size: 28px;
    padding-top: 5px;
    padding-bottom: 2rem;
}

.contact .row .content .info h3 {
    margin-left: 30%;
    display: flex;
    align-items: center;
    font-size: 23px;
    color: #222;
    padding: 1rem 0;
    font-weight: 500;
}

.contact .row .content .info h3 i {
    padding-right: 1rem;
    color: #808080;
}

/* BUTTON */
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid #333; /* Border color */
    background-color: #333; /* Background color */
    color: #fff; /* Text color */
    border-radius: 25px; /* Rounded corners */
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: transparent;
    color: #333;
}

.btn.primary {
    background-color: #ffcd28; /* Primary button background color */
    border-color: #ffcd28; /* Primary button border color */
    color: #333; /* Primary button text color */
}

.btn.primary:hover {
    background-color: transparent;
    color: #ffcd28;
}

.btn.secondary {
    background-color: #808080; /* Secondary button background color */
    border-color: #808080; /* Secondary button border color */
    color: #fff; /* Secondary button text color */
}

.btn.secondary:hover {
    background-color: transparent;
    color: #808080;
}

/* FOOTER */
footer {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer span a {
    color: #808080;
    text-decoration: none;
}

footer span a:hover {
    text-decoration: underline;
}

/* MODAL POP IP */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 150px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
  }
  
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }

  .caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* ANIMATION */
.modal-content, .caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/* Task 2 | Completed */